Airtable Credentials

<input type="text" id="air-table-key">
<input type="text" id="air-table-base-id">
<input type="text" id="air-table-tm-name">
<input type="text" id="air-table-gm-name">

Promotion Threshold
<input type="number" id="threshold" min=0 name="threshold" placeholder=0>

Django Site Id
<select class="form-control form-control-md">
    <option>Each of the site frameworks</option>
</select>



Enable Twitter Handle Request
<div class="form-check">
    <input class="form-check-input" type="checkbox" value="twitterHandleRequest">
    <label class="form-check-label" for="twitterHandleRequest">
        Enable Twitter Handle Request
    </label>
</div>


<button type="button" class="btn btn-submit">Update</button>
