{% extends "stigapp/base.html" %}
{% load static %}

{% block content %}

<div class="card profile-container mt-4 mb-4">
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="card-header"> 
            <h3 class="pt-2"> Profile Information </h3>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="form-group col-lg-6">
                    <label for="id_username"> Discord handle: </label>
                    <input type="text" class="form-control" name="username" value={{form.username.value}} placeholder="Enter username" max_length="100" id="id_username" required>
                </div>
                <div class="form-group col-lg-6">
                    <label for="id_twitter_handle"> Twitter handle: </label>
                    <input type="text" class="form-control" name="twitter_handle" value={{form.twitter_handle.value}} placeholder="Enter twitter handle" max_length="100" id="id_twitter_handle">
                </div>
            </div>
            <div class="row">
                <div class="form-group col-lg-6">
                    <label for="id_first_name"> First name: </label>
                    <input type="text" class="form-control" name="first_name" value={{form.first_name.value}} placeholder="Enter first name" max_length="100" id="id_first_name" required>
                </div>
                <div class="form-group col-lg-6">
                    <label for="id_last_name"> Last name: </label>
                    <input type="text" class="form-control" name="last_name" value={{form.last_name.value}} placeholder="Enter last name" max_length="100" id="id_last_name" required>
                </div>
            </div>
            <div class="form-group">
                <label for="id_email"> Email: </label>
                <input type="email" class="form-control" name="email" value={{form.email.value}} placeholder="Enter email" max_length="255" id="id_email">
            </div>
        </div>
        <div class="card-footer">
            <div class="row">  
                <div class="btn-div col-lg-6">
                    <a class="btn btn-light cancel-btn" href="{% url 'home' %}"> Cancel </a>
                </div>
                <div class="btn-div col-lg-6">
                    <button type="submit" class="btn btn-dark save-btn"> Save </button>
                </div>
            </div>
        </div>
    </form>
</div>

{% endblock content %}

