{% extends "stigapp/base.html" %}
{% load static %}

{% block content %}
<h1>404</h1>
<p> The page you have requested is not available.</p>

{% if user.is_authenticated %}
<p>Please review the navbar for the available pages.</p>
{% else %}
<p>Please log in to see the available pages.</p>
{% endif %}

{% endblock content %}


